name: Class Reminder

on:
  schedule:
    # Morning classes: 08:20 – 12:30 IST
    - cron: "0,10,20,30,40,50 3-7 * * 1-5"

    # Afternoon classes: 13:20 – 16:30 IST
    - cron: "0,10,20,30,40,50 7-11 * * 1-5"
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - run: pip install -r requirements.txt
      - run: python bot.py
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
